
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
