@font-face
{
    font-family : "Poppins";
    src : url('fonts/Poppins-Medium.ttf') format("truetype");
    font-weight : normal;
    font-style : normal;
}

@font-face
{
    font-family : "Roboto";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style : normal;
}

html{
    min-width:1640px;
}

body{
    margin:0;
    font-family:'Poppins',sans-serif;
    min-height:100vh;
    position:relative;
    /*padding-top:calc(86px + 43px); made navbar no longer fixed so this is unnecessary*/
    padding-bottom: 86px;
    box-sizing: border-box;
}
